@import "bootstrap"

// Include responsive Bootstrap styles
@import "bootstrap-responsive"

.important
    @extend strong

.unimportant
    color: $grayLight
    @extend small

.unit
    margin: 0.5em 0

a
    color: black

h1
    margin-bottom: 5px

h5
    margin: 0

ul
    // list-style: none
    margin: 0

li
    // Give the right column some space
    margin-right: 5%

header
    overflow: auto

.container
    padding: 0.5em 0
    // Used for timestamp
    position: relative

.experience, .project
    @extend .unit

.position
    float: left

.job
    overflow: auto

.company
    @extend .important

.title
    @extend .unimportant
    color: black
    line-height: 18px

.context
    @extend .unimportant
    line-height: 18px

#contact
    @extend .unimportant
    margin-bottom: 10px

    li
        display: inline-block
        margin: 0 0.1em

#print-button
    @extend .unimportant
    position: absolute
    top: 1em
    right: 1em

#timestamps
    @extend .unimportant
    position: absolute
    bottom: 1%
    right: 1%

@media (max-width: 767px)
    .row-fluid [class*="span"]
        width: 50%
        float: left
