@import "bootstrap"

// Include responsive Bootstrap styles
@import "bootstrap-responsive"

.important
    @extend strong

.unimportant
    color: $grayLight
    @extend small

.unit
    margin: 0.5em 0

a
    color: black

ul
    list-style: none
    margin: 0

li
    // Give the right column some space
    margin-right: 5%

.container
    margin: 1em 0
    // Used for timestamp
    position: relative

.position, .project
    @extend .unit

.name
    @extend .important

.title
    @extend .unimportant

.context
    @extend .unimportant


address
    margin: 0

.minor
    position: absolute
    top: 0
    right: 0

h1
    margin-bottom: 5px

#contact
    @extend .unimportant
    margin-bottom: 10px

    li
        display: inline-block
        margin: 0 0.1em

// print button
#print
    @extend .unimportant
    @extend .minor
    // display: none

#timestamp
    @extend .unimportant
    @extend .minor
    display: none


@media (max-width: 767px)
    .row-fluid [class*="span"]
        width: 50%
        float: left
