<div class="section" id="education">
    <div class="page-header">
        <h1>Education</h1>
    </div>
    <div class="row">
        <div class="span6">
            <h2>University of Pennsylvania</h2>
            <h3>(Expected) BSE in Computer Science</h3>
            <h4>Fall 2010 - Spring 2014 | Philadelphia</h4>
        </div>
        <div class="span9">
            <ul>
                <li>CS Junior seeking summer internship. Interested in web development and entrepreneurship.</li>
                <li>Coursework: Computer Architecture, Databases, AI, Scalable and Cloud Computing, Python, Algorithms, Software Engineering, Haskell, Unix</li>
                <li>Studying: Operating Systems, Mathematics of Recursion, Advanced Functional Programming, C/C++</li>
            </ul>
        </div>
    </div>
</div>
