<div class="section" id="employment">
    <h4>Employment</h4>
    <div class="positions">
        {% for position in positions %}
            <div class="experience">
                <header>
                    <div class="position">
                        <h5 class="company"><a href="{{ position.href }}">{{ position.company }}</a></h5>
                        <div class="title">{{ position.title }}</div>
                        <div class="context">{{ position.start }} - {{ position.end }}</div>
                    </div>
                </header>
                <div class="accomplishments">
                    <ul>
                        {% for item in position.what %}
                        <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
