<div class="section" id="projects">
    <div class="page-header">
        <h1>Projects
            <small><a href="http://github.com/Ceasar">github.com/Ceasar</a></small>
        </h1>
    </div>
    <div class="row">
        <div class="span4">
            <h2>pep8fix</h2>
            <h4>Ongoing</h4>
            <p>Currently writing a tool that attempts to force Python files to adhere to the PEP8 style guide by scanning files and correcting violations.</p>
            <small><a href="https://github.com/Ceasar/pep8fix">github.com/Ceasar/pep8fix</a></small>
        </div>
        <div class="span4">
            <h2>Regex Parser</h2>
            <h4>Spring 2012</h4>
            <p>Used Haskell to write a regular expression parser, using a nondeterministic finite automaton (NFA) and parse trees.</p>
            <small><a href="https://github.com/Ceasar/CIS-194-Automata">github.com/Ceasar/CIS-194-Automata</a></small>
        </div>
        <div class="span4">
            <h2>Chess</h2>
            <h4>Spring 2012</h4>
            <p>Used Python to write a chess engine as an excercise in software architecture.</p>
            <small><a href="https://github.com/Ceasar/Chess">github.com/Ceasar/Chess</a></small>
        </div>
        <div class="span4">
            <h2>PennBook</h2>
            <h4>Fall 2011</h4>
            <p>Used Ruby on Rails to write a simplified Facebook clone, featuring the abilty to visualize one's network, to see online friends, and to get real-time updates on your newsfeed.</p>
            <small><a href="http://pennbook.heroku.com">pennbook.heroku.com</a></small>
        </div>
    </div>
</div>
