<div class="section" id="projects">
    <div class="page-header">
        <h1>Projects
            <small><a href="http://github.com/Ceasar">github.com/Ceasar</a></small>
        </h1>
    </div>
    <div class="row">
        <div class="span4">
            <h2>pep8fix</h2>
            <h4>Ongoing</h4>
            <p>Writing a tool that attempts to force Python files to adhere to the PEP8 style guide by scanning files and correcting violations.</p>
            <small><a href="https://github.com/Ceasar/pep8fix">github.com/Ceasar/pep8fix</a></small>
        </div>
        <div class="span4">
            <h2>Regex Parser</h2>
            <h4>Spring 2012</h4>
            <p>Used Haskell to write a regular expression parser, using a nondeterministic finite automaton (NFA) and parse trees.</p>
            <small><a href="https://github.com/Ceasar/CIS-194-Automata">github.com/Ceasar/CIS-194-Automata</a></small>
        </div>
        <div class="span4">
            <h2>Chess</h2>
            <h4>Spring 2012</h4>
            <p>Used Python to write a chess engine as an exercise in software architecture. Used profiling tools to make optimizations.</p>
            <small><a href="https://github.com/Ceasar/Chess">github.com/Ceasar/Chess</a></small>
        </div>
        <div class="span4">
            <h3>Mini-Projects</h3>
            <ul>
                <li><strong>Nonsense</strong> - Minimalist Python Markov Chain library. <a href="https://github.com/Ceasar/Nonsense">github.com/Ceasar/Nonsense</a></li>
                <li><strong>staticjinja</strong> - jinja2 template compiler, for static sites <a href="https://github.com/Ceasar/staticjinja">github.com/Ceasar/staticjinja</a></li>
                <li><strong>pyDbC</strong> - Design by Contract library for Python. <a href="https://github.com/Ceasar/pyDbC">github.com/Ceasar/pyDbC</a></li>
            </ul>
        </div>
    </div>
</div>
