<div class="section row-fluid" id="skills">
    <div id="technologies" class="span6">
        <h4>Technologies</h4>
        <ul>
            <li>SASS / CSS</li>
            <li>jQuery</li>
            <li>Flask / Django</li>
            <li>SQL</li>
            <li>Unix / Git</li>
        </ul>
    </div>
    <div id="languages" class="span6">
        <h4>Languages</h4>
        <ul>
            <li><strong>Python</strong></li>
            <li>Haskell</li>
            <li>CoffeeScript</li>
        </ul>
    </div>
</div>
