<div class="section" id="employment">
    <div class="page-header">
        <h1>Employment</h1>
    </div>
    <div class="row">
        <div class="span6">
            <h2>Lore</h2>
            <h3>Software Engineer, Intern</h3>
            <h4>Summer 2012 | New York City</h4>
        </div>
        <div class="span8">
            <p>I worked as full-stack developer on a small team of seven engineers. My main responsibilities included working closely with a designer to translate a design spec into a working product (using CoffeeScript, SASS, and a custom CoffeeScript MVC framework) and writing Selenium tests to certain features of the website that was prone to bugs. Additionally, I gained some exposure to Flask, SQLAlchemy, and Redis, which served to power the back-end.</p>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h2>CIS 192 (Python)</h2>
            <h3>Teaching Assistant</h3>
            <h4>January 2012 - Spring 2012 | Philadelphia</h4>
        </div>
        <div class="span9">
            <p>My main responsibilities included designing homeworks, helping students with assignments once a week during office hours, and converting existing shell scripts into Python. Additionally, I completely rewrote the assignment grader to take advantage of object-oriented programming and the internals of Python's unittest library.</p>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h2>PennApps Labs</h2>
            <h3>Software Engineer</h3>
            <h4>March 2011 - Current | Philadelphia</h4>
        </div>
        <div class="span9">
            <p>I've worked at Labs since freshman year. Most recently though, I was responsible for the construction of the front-end site for the Penn Course Review API (built with Django), maintenance of existing projects (also Django based), and the construction of a CRUD app that would allow students to submit funding for group events digitially.</p>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h2>The Daily Pennsylvanian</h2>
            <h3>Senior Web Developer</h3>
            <h4>January 2011 - Spring 2012 | Philadelphia</h4>
        </div>
        <div class="span9">
            <p>At the Daily Pennsylvania (DP), I designed and constructed a web version of the Daily Pennsylvania's Dining Guide. This involved plotting the locations of each reviewed restaurants on a map and letting the user filter restaurants by tags. (Built with Django.) I was awarded "Web Developer of the Year" for 2011.</p>
            <p>Previously, I had built a job assignment database using PHP to allow editors to more easily assign jobs to photographers (replacing an antiquated email system).</p>
        </div>
    </div>
</div>
