{% extends "_base.html" %}
{% block body %}
<div class="container">
    <div class="row-fluid">
        <div class="offset1 span10">
            <h1>{{ identity.name }}</h1>
            {% include "_contact.html" %}
        </div>
    </div>
    <div id="main" class="row-fluid">
        <div id="history" class="offset1 span5">
            {% include "_employment.html" %}
        </div>
        <div id="value" class="span5">
            {% include "_education.html" %}
            {% include "_projects.html" %}
            {% include "_skills.html" %}
        </div>
    </div>
    <button id="print-button" class="btn" onclick="window.print()">Print</button>
    <div id="timestamps">
        <span>Accessed <span id="access_date"></span>.</span>
        <span>Updated at <span id="updated_at"></span>.</span>
    </div>
</div>
<script>
    var printDate = function (d) {
        // month is 0-indexed
        var month = d.getMonth() + 1;
        var day = d.getDate();
        var year = d.getFullYear();
        return month + "/" + day + "/" + year;
    }
    $('#access_date').text(printDate(new Date()));

    $.getJSON("https://api.github.com/repos/{{ identity.github }}/resume?callback=?", function(data) {
        $("#updated_at").text(printDate(new Date(data.data.updated_at)));
    });
</script>
{% endblock %}
