{% extends "_base.html" %}
{% block body %}
<div class="container">
    <div class="header">
        <div class="header2">
            <h1>{{ identity.name }}</h1>
            {% include "_contact.html" %}
        </div>
    </div>
    <div id="main">
        {% include "_employment.html" %}
        {% include "_education.html" %}
        {% include "_projects.html" %}
        {% include "_skills.html" %}
    </div>
    <button id="print-button" class="btn" onclick="window.print()">Download</button>
    <div id="timestamps">
        <span>Retrieved <span id="date_accessed"></span> from <span id="web_address"></span>.</span>
    </div>
</div>
<script>
    var printDate = function (d) {
        // month is 0-indexed
        var month = d.getMonth() + 1;
        var day = d.getDate();
        var year = d.getFullYear();
        return month + "/" + day + "/" + year;
    }

    // Fetch data about a repository.
    var getRepo = function(repo_name, callback) {
        var respJson = sessionStorage.getItem(repo_name);
        if (respJson === null) {
            var url = (
            "https://api.github.com/repos/Ceasar/" + repo_name + "?callback=?");
            $.getJSON(url, function(resp) {
                sessionStorage.setItem(repo_name, JSON.stringify(resp));
                callback(resp);
            });
        } else {
            resp = JSON.parse(respJson);
            callback(resp);
        }
    }

    // Fill in information about a repository
    var updateProject = function(project, href, description, forksCount, stargazersCount) {
        var el = $(("#" + project).replace(".", "-"));
        el.find(".name a").attr("href", href);
        el.find(".description").text(description);
        el.find(".meta").text(
            "Forks: " + forksCount + ", Stars: " + stargazersCount
        );
    }

    $('#date_accessed').text(printDate(new Date()));
    $('#web_address').text(document.URL);

    var projects = [
    {% for project in projects %}
        "{{project}}"{% if not loop.last %},{% endif %}
    {%endfor %}
    ];
    $.each(projects, function(index, project) {
        getRepo(project, function(resp) {
            console.log(resp);
            if (resp.meta.status !== 403) {
                updateProject(
                    project,
                    resp.data.html_url,
                    resp.data.description,
                    resp.data.forks_count,
                    resp.data.stargazers_count
                );
            }
        });
    });
</script>
{% endblock %}
